.mainClock{
width: auto;
height: 100%;
display: flex;
padding-left: 1em;
padding-right: 1em;
flex-direction: row;
justify-content: center;
background-color:#357266;
border-radius: 0.6vw;
}

.mainClock .box{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
padding: 0.5em;
}

.value{
    font-size: 3em;
    padding: 0.2em;
    font-family: "Ubuntu Mono", monospace;
}

.color-box{
    background-color: #6C988F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-radius: 0.6vw;
}

.label{
    font-family: "Lato", monospace;
}