.MisCursos {
  font-family: "Ubuntu", monospace;
  font-weight: 100;
  font-style: normal;
  margin-left: 30px;
}

.solid {
  border-top: 2.5px solid #132941;
  margin-left: 60px;
  margin-right: 80px;
}

.collapsible {
  background-color: #132941;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: calc(100% - 80px);
  border: none;
  text-align: left;
  outline: none;
  font-size: 21px;
  font-weight: 500;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapsible.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.active, .collapsible:hover {
  background-color: #132941;
}

.symbol-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
}

.symbol {
  font-weight: 500;
  font-size: 40px;
  color: white;
  transition: transform 0.3s ease;
}

.collapsible.active .symbol {
  transform: rotate(90deg);
}

.collapsible .symbol {
  transform: rotate(270deg);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Ubuntu Mono', monospace;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.content.active {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
