#main {
    border: 3px solid;
    border-color: #132941;
    color: #132941;
    width: calc(100% - 80px);
    font-size: 21px;
    font-weight: 500;
    border-radius: 20px;
    padding: 0;
    font-family: "Ubuntu Mono", monospace;
}

#data-contaner {
    border-top: 3px solid;
}

#perfil-image {
    width: 80%;
    height: auto;
}

#information {
    font-size: 1.1em;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

#information h4 {
    font-weight: 590;
}