#main {
    border: 3px solid;
    border-color: #132941;
    color: #132941;
    padding: 18px;
    width: calc(100% - 80px);
    text-align: left;
    font-size: 21px;
    font-weight: 500;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Ubuntu Mono", monospace;
}