.task-container {
    border-radius: 0.6em;
    background-color: white;
    height: 100%;
}

.task-title {
    border-radius: 0.4em 0.4em 0 0;
    background-color: var(--red-color);
    padding:1em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks {
    display: flex;
    flex-direction: column;
    padding:0.5em;
}

.task-container .tasks .task {
    padding: 0.5em 0;
  }
  
  .task-container .tasks .task:not(:first-child) {
    border-top: 2px solid var(--red-color);
  }